# Sys files
**/.DS_Store

# Scarb and Starknet Foundry
**/target
target-*/
.snfoundry_cache/

# Foundry
contracts/ethereum/out/
contracts/ethereum/cache/
contracts/ethereum/broadcast/

# Starkli
**/account.json
**/keystore.json

# mdBook
book/book/
